
$minWidth: 800px;
$maxWidth: 800px;
$subTitleColor: #f4f4f5;
$pBackgroundColor: #f4f4f5;
$iconDefaultColor: #909399;
$white: '#ffffff';
/*
  优估前端样式规范
*/
$Zblack: #303133;
$ZblackA: #606266;
$ZblackB: #909399;
$ZblackC: #c0c4cc;
$Zwhite: #ffffff;
$HeaderHeight: 50px;
$FooterHeight: 50px;
// 主题色
$ThemeColor: #3493FF;
$ThemeColor_iswait: #AECBF1;
// 主题背景，向下渐变
$BgLinearTobottom: linear-gradient(to bottom, #37BDF6 , #7996F8);
// 主题背景，向右渐变
$BgLinearToRight: linear-gradient(to right, #37BDF6 , #7996F8);